:root {
  --clr-primary: hsl(5, 85%, 63%);
  --clr-accent: hsl(35, 77%, 62%);
  --clr-primary-shade: #1b4133;
  --clr-white: hsl(0, 100%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey-1: #fafafa;
  --clr-grey-2: #efefef;
  --clr-grey-3: #d8d8d8;
  --clr-grey-4: #a0a0a0;
  --clr-grey-5: #444444;
  --ff-main: "League Spartan";
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fs-1: 3rem;
  --fs-2: 2.5rem;
  --fs-3: 1rem;
  --fs-4: 0.9375rem;
  --sp-0: 0px;
  --sp-1: 1rem;
  --sp-2: 1.5rem;
  --sp-3: 2rem;
  --sp-4: 3rem;
  --sp-5: 3.5rem;
  --sp-6: 4rem;
  --ls-1: -2px;
  --ls-2: 7px;
  --ls-3: -0.7px;
  --ls-4: -0.5px;
  --ls-5: 12.5px;
  --lh-1: 0.9;
  --lh-2: 1;
  --lh-3: 1.4;
  --z-index-nav-menu-btn: 200;
  --z-index-nav-links-mobile: 100;
  --desktop-container-width: 37.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.tp-1 {
  font-size: var(--fs-1);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-1);
  letter-spacing: var(--ls-1);
}

.tp-2 {
  font-size: var(--fs-2);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-1);
}

.tp-3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-bold);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-2);
}

.tp-4 {
  font-size: var(--fs-3);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-3);
}

.tp-5 {
  font-size: var(--fs-3);
  font-weight: var(--fw-medium);
  line-height: var(--lh-3);
  letter-spacing: var(--ls-4);
}

.tp-5 {
  font-size: var(--fs-4);
  font-weight: var(--fw-medium);
  line-height: var(--lh-2);
  letter-spacing: var(--ls-5);
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-medium);
  line-height: var(--lh-2);
  background-color: black;
}

.no-scroll {
  overflow: hidden;
}

.flow-content > * + * {
  margin-top: var(--flow-spacer, var(--sp-3));
}

.split {
  display: flex;
}

.split > * {
  width: 100%;
}

.container {
  max-width: var(--desktop-container-width);
  margin-inline: auto;
}

nav {
  display: flex;
  position: absolute;
  top: var(--sp-4);
  left: var(--sp-2);
  right: var(--sp-2);
}
@media (min-width: 31.25rem) {
  nav {
    left: var(--sp-6);
    right: var(--sp-6);
  }
}
@media (min-width: 62.5rem) {
  nav {
    gap: var(--sp-5);
  }
}

.btn--mobile-nav {
  position: relative;
  z-index: var(--z-index-nav-menu-btn);
}
@media (min-width: 62.5rem) {
  .btn--mobile-nav {
    display: none;
  }
}

nav > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-index-nav-links-mobile);
}
@media (min-width: 62.5rem) {
  nav > img {
    position: static;
    transform: none;
  }
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: var(--sp-3);
  background-color: var(--clr-white);
  position: fixed;
  z-index: var(--z-index-nav-links-mobile);
  left: 0;
  right: 0;
  top: 0;
  height: 110px;
  transform: translateY(-100%);
  padding-inline-end: var(--sp-3);
}
@media (prefers-reduced-motion: reduce) {
  .links {
    transition: none;
  }
}
.links > :first-child {
  margin-left: auto;
}
@media (min-width: 31.25rem) {
  .links {
    padding-inline-end: var(--sp-6);
  }
}
@media (min-width: 62.5rem) {
  .links {
    position: static;
    height: auto;
    padding-inline-end: 0;
    background-color: transparent;
    transform: none;
    transition: none;
  }
}

.link {
  text-decoration: none;
  color: var(--clr-black);
  position: relative;
}
@media (min-width: 62.5rem) {
  .link {
    color: var(--clr-white);
  }
  .link:hover::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: var(--sp-1);
    height: 0.125rem;
    background-color: var(--clr-white);
  }
}

@media (min-width: 62.5rem) {
  .overlay {
    display: none;
  }
}

[data-open=true] .icon--hamburger {
  display: none;
}
[data-open=true] .links {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}
[data-open=true] .overlay {
  position: fixed;
  inset: 0;
  background-color: var(--clr-black);
  opacity: 0.5;
}

[data-open=false] .icon--close {
  display: none;
}
[data-open=false] .overlay {
  display: none;
}
[data-open=false] .links {
  transition: transform 0.3s ease-in;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: red;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel__picture:nth-child(n+2) {
  position: absolute;
  inset: 0;
}

.carousel__img {
  width: 100%;
  max-height: 360px;
  object-fit: cover;
  object-position: bottom;
  transition: transform 0.3s ease-out;
}
@media (min-width: 31.25rem) {
  .carousel__img {
    max-height: 400px;
  }
}

.carousel__nav {
  display: flex;
}

.carousel__nav--mobile {
  position: absolute;
  bottom: 0;
  right: 0;
}

.carousel__btn {
  background-color: var(--clr-black);
  width: 3.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel__btn > img {
  width: 8.4px;
  height: 16.8px;
}
@media (min-width: 31.25rem) {
  .carousel__btn > img {
    width: 12px;
    height: 24px;
  }
}

/*# sourceMappingURL=styles.css.map */
