@use "utils" as *;
@use "variables" as *;

.about {
  --flow-spacer: var(--sp-1);
  @media (min-width: $bp-desktop) {
    --padding-inline: var(--sp-4);

    display: flex;
    align-items: center;
  }
}

.img-about {
  width: 100%;
  max-height: #{toRem(300px)};
  object-fit: cover;

  @media (min-width: $bp-desktop) {
    height: 100%;
    max-height: #{toRem(900px)};
  }
}

.about__title {
  text-transform: uppercase;
}

.about__description {
  color: var(--clr-grey-4);
}
